
.metadata/.plugins/org.python.pydev/v1_9s2rj0nkcyd45ej5t83m1m8tp/shell/_io_6a2oy5gaqkqm3ii615tian03f.inn

.metadata/.bak_0.log

*.log

*.inn

*.top

*.v1_sys_astdelta

*.v1_astdelta

*.v1_projectinfodelta

.metadata/.plugins/org.eclipse.ui.editors/dialog_settings.xml

.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml

.metadata/.plugins/org.eclipse.wb.discovery.core/toolkit_gwt.png

.metadata/.plugins/org.eclipse.wb.discovery.core/toolkit_swing.png

.metadata/.plugins/org.eclipse.wb.discovery.core/toolkit_swt.png

.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml

.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml

.metadata/.plugins/org.eclipse.wb.discovery.core/toolkit_xwt.png

.metadata/.plugins/org.eclipse.team.cvs.core/.running

.metadata/.plugins/org.eclipse.team.ui/syncParticipants.xml

.metadata/.plugins/org.eclipse.wb.discovery.core/toolkits.xml

.metadata/.plugins/org.python.pydev/dialog_settings.xml

.metadata/.plugins/org.python.pydev/v1_9s2rj0nkcyd45ej5t83m1m8tp/pythonpath

.metadata/.plugins/org.tigris.subversion.subclipse.ui/dialog_settings.xml

.metadata/version.ini

*.pyc

*.aux

*.lof

*.lot

*.blg

*.bbl

*.out

.metadata/.plugins/org.python.pydev/v1_9s2rj0nkcyd45ej5t83m1m8tp/modulesKeys

*.prefs

*.xml

.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache

.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

*.launch

*.pydevinfo

*.snap

*.properties

.metadata/.plugins/org.eclipse.core.resources/.projects/Phase_Locked_Loop/org.python.pydev/v1_astmanager/modulesKeys

.metadata/.plugins/org.eclipse.core.resources/.projects/Phase_Locked_Loop/org.python.pydev/v1_astmanager/pythonpath

.metadata/.plugins/org.eclipse.core.resources/.projects/Phase_Locked_Loop_2/.indexes/properties.index

.metadata/.plugins/org.eclipse.core.resources/.projects/Phase_Locked_Loop_2/org.python.pydev/v1_astmanager/modulesKeys

.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version

.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index

*.version

*.tree

.metadata/.plugins/org.eclipse.core.resources/.projects/HelloWorld/org.python.pydev/v1_astmanager/pythonpath

.metadata/.plugins/org.eclipse.core.resources/.history/d/90a7618cada600131e03ebc2cddae57e

.metadata/.plugins/com.python.pydev.analysis/python_v1_9s2rj0nkcyd45ej5t83m1m8tp/python.pydevsysteminfo

.metadata/.plugins/org.eclipse.core.resources/.history/45/c02efa87ada600131e03ebc2cddae57e

.metadata/.plugins/org.eclipse.core.resources/.projects/HelloWorld/.indexes/properties.index

.metadata/.mylyn/.taskListIndex/segments_1

.metadata/.mylyn/.taskListIndex/segments.gen

.metadata/.mylyn/.tasks.xml.zip

.metadata/.mylyn/repositories.xml.zip

.metadata/.mylyn/tasks.xml.zip

.metadata/.plugins/org.eclipse.core.resources/.projects/Phase_Locked_Loop/.indexes/history.index

.metadata/.lock

.metadata/.plugins/org.eclipse.core.resources/.projects/HelloWorld/org.python.pydev/v1_astmanager/modulesKeys

.metadata/.plugins/org.eclipse.core.resources/.projects/Phase_Locked_Loop/.indexes/properties.index

.metadata/.plugins/org.eclipse.core.resources/.projects/Phase_Locked_Loop_2/org.python.pydev/v1_astmanager/pythonpath

.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi

.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
